<% if @spreads.empty? %>
  You have no existing spreads.
<% else %>
  <ul class="list-group">
    <% @spreads.each do |spread| %>
      <li class="list-group-item"><%= link_to spread.name, spread %></li>
    <% end %>
  </ul>
<% end %>