<h2><%= @spread.name %></h2>

<ol>
  <% @spread.slots.each do |slot| %>
    <li><%= slot.name %> <%= link_to 'delete', spread_slot_path(@spread, slot), data: {turbo_method: :delete} %></li>
  <% end %>
</ol>