<h2><%= @spread.name %></h2>

<ol class="list-group">
  <% @spread.slots.each do |slot| %>
    <li class="list-group-item">
      <%= slot.name %>
      <%= link_to 'Edit', edit_spread_slot_path(@spread, slot), class: 'btn btn-secondary btn-small' %>
      <%= link_to 'Delete', spread_slot_path(@spread, slot), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the '#{slot.name}' slot?"}, class: 'btn btn-danger btn-small' %>
      </li>
  <% end %>
</ol>